* {
  margin: 0;
  font-family: "Dongle", sans-serif;
}

header {
  background-color: #0d253f;
  display: flex;
}
.logo-div {
  width: 75%;
}
.logo {
  width: 13rem;
  padding: 2rem;
}
.header-tags {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
}
.header-tag {
  color: #01b4e4;
  font-size: 1.6em;
  padding: 0 10px;
  cursor: pointer;
}
.header-tag:hover {
  color: #f5f5f5;
}

.category-section {
  background-color: #0a1a2b;
  padding: 2px 0 2px 40px;
}
#categories {
  background-color: #0a1a2b;
  border: 1px solid #0a1a2b;
  border-radius: 5px;
  color: #01b4e4;
  font-size: 1.4em;
}
.home {
  background-color: #0d253f;
  display: block;
  position: relative;
}
.liked-list {
  background-color: #0d253f;
  min-height: 600px;
  display: none;
  position: relative;
}

/* movie cards style */
.movie-cards {
  display: grid;
  padding: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
  background-color: #0a1a2b;
  margin: 20px 10px;
}
.card img {
  width: 100%;
}
.card-icons {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}
.rating {
  display: flex;
  color: #f5f5f5;
}
.rating p {
  font-size: 1.8em;
}
.ion-star {
  color: #f5c518;
  padding: 3px 7px;
}
.like-icon {
  color: #f5f5f5;
  padding: 3px 10px;
  cursor: pointer;
}
.like-icon:hover {
  color: #01b4e4;
}
.movie-name {
  font-size: 1.3em;
  font-weight: 200;
  padding: 0 15px 15px 15px;
  line-height: 1em;
  display: block;
  color: #f5f5f5;
  cursor: pointer;
}

.movie-name:hover {
  color: #01b4e4;
}

/* pagination style */
.pagination {
  color: #01b4e4;
  font-size: 1.3em;
  background-color: #0d253f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.page-icon {
  cursor: pointer;
  display: inline-block;
  margin: 0 40px;
  padding: 0 5px;
  border-radius: 3px;
}
.page-icon:hover {
  color: #f5f5f5;
  background-color: #0a1a2b;
}

/* footer style */
footer {
  height: 50px;
  background-color: #0a1a2b;
}

.movie-details {
  width: 50%;
  display: flex;
  border-radius: 2px;
  border: 1px solid #0a1a2b;
  position: fixed;
  background-color: #f5f5f5;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.movie-left {
  width: 40%;
  object-fit: cover;
}
.movie-left img {
  width: 100%;
  padding: 0;
}
.movie-right {
  width: 60%;
  padding: 20px;
  position: relative;
}
.movie-right h1 {
  line-height: 0.8em;
}
.close {
  position: absolute;
  padding: 0 5px;
  top: 2px;
  right: 2px;
  font-size: 2em;
  cursor: pointer;
}
.close:hover {
  color: #90cea1;
}
.overview {
  line-height: 1em;
  font-size: 1.2em;
}
.movie-flex {
  display: flex;
}
.genres-text {
  background-color: #90cea1;
  color: #f5f5f5;
  font-weight: 400;
  border-radius: 3px;
  margin: 0 3px;
  padding: 2px 3px;
  line-height: 0.8em;
}
.popup-rating {
  font-size: 1.2em;
}
.movie-flex img {
  width: 20px;
  height: 20px;
  padding: 0 5px;
}
